.menu-top{
    width: 100%;
    padding: 20px;
    padding-left: 200px;
    background-color: rgb(85, 175, 169);
    position: sticky;
    top: 0;
    display: flex;
    background-position: top center;
}

div{
    background-color: black;
    width: 1600px;
    border: 2px solid red;
    text-align: center;
    margin: auto;
    height: auto;
}

h1{
    color: white;
}

nav{
    display: inline-block;
    width: 299px;
    background-color: grey;
    height: auto;
}
a{
    display: block;
    text-decoration: none;
}
